<div class="page-header">
  <h1>Baseball Statistics Search</h1>

  <p>
    On this page you can see some sample search options represented by
    the tabs listed below along the left side of the screen.
  </p>
</div>

<%= render 'search_tabs' %>
