<br/>
<h1>Welcome to Baseball Stats</h1>
<p>
	The Baseball Stats application is a sample application for calculating
  some sample baseball statistics including some fantasy baseball 
  statistics. The application is designed as an exercise in creating
  a simple Ruby on Rails application. The application is written using
  the Rails 4 platform and a MongoDB backend database system.
</p>

<br/><br/>
