<%- model_class = FantasyPoint -%>
<div class="page-header">
  <h1>New Fantasy Baseball Point Assignments</h1>
  <p>
    You can assign new fantasy baseball points for the given statistics
    shown in the form below.
  </p>
</div>

<%= render :partial => 'form' %>
